@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white;
  @apply text-black;
}

/* Reset Chrome autofill background */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0px 1000px white inset !important;
  -webkit-text-fill-color: #000 !important;
}

/* Ensure placeholder stays visible */
input::placeholder {
  color: #9ca3af; /* Tailwind gray-400 */
  opacity: 1;     /* Required for some browsers */
}


/* @layer base {
  input:-webkit-autofill {
    @apply bg-white text-black;
    box-shadow: 0 0 0px 1000px white inset !important;
  }
} */

/* Hide scrollbar for Chrome, Safari and Edge */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}



